h2{
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
}

h3{
    color: white;
    margin-top: 41px;
}

img{
    height: 120px;
    width: 120px;
}

ul{
    margin-top: 42px;
}


.nav-link{
    color: white;
}

#cards{
    margin: auto;
    width: 80%;
}

.card-img-top{
    height: 250px;
    margin: auto;
    width: 320px;
}

.col-12{
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
    text-align: center;
}

#encabezado{
    background-color: #052342;
}

#piePagina{
    margin-top: 250px;
    background-color: #052342;
}
